<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="file1" 
                xsi:type="File"
                layout="${longdate} - ${level} - ${message}"
                fileName="${basedir}/Logs/${logger}.log"
                archiveFileName="${basedir}/Archives/${logger}/${logger}{#####}.log"
                maxArchiveFiles="5"
                archiveAboveSize="10000"
                archiveNumbering="Sequence"
                />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="file1" />
    </rules>
</nlog>
