<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="file1" 
                xsi:type="File"
                layout="${longdate} - ${level} - ${message}" 
                fileName="${basedir}/logs/Logger1.log"
                archiveFileName="${basedir}/Archives/Logger1/Logger1{#####}.log"
                maxArchiveFiles="5"
                archiveAboveSize="10000"
                archiveNumbering="Rolling"
                />
        <target name="file2" 
                xsi:type="File"
                layout="${longdate} - ${level} - ${message}"
                fileName="${basedir}/logs/Logger2.log" 
                archiveFileName="${basedir}/Archives/Logger2/Logger2{#####}.log"
                maxArchiveFiles="5"
                archiveAboveSize="10000"
                archiveNumbering="Rolling"
                />
    </targets>

    <rules>
        <logger name="Logger1" minlevel="Debug" writeTo="file1" />
        <logger name="Logger2" minlevel="Debug" writeTo="file2" />      
    </rules>
</nlog>
