<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- String de conexion a la DB -->
    <add name="AccesoDatos" connectionString="Server=KANTOR\SQLEXPRESS;Integrated Security=true" providerName="System.Data.SqlClient"></add>
  </connectionStrings>
</configuration>