<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target name="file1"
              xsi:type="File"
              layout="${longdate} - ${level} - ${message}"
              fileName="${basedir}/${AppSetting:AppValue=pathlogFile}/Logger1.log"
              archiveFileName="${basedir}/Archives/Logger1/Logger1_{#####}.log"
              maxArchiveFiles="5"
              archiveAboveSize="10000"
              archiveNumbering="Rolling"
                />
      <target name="file2"
              xsi:type="File"
              layout="${longdate} - ${level} - ${message}"
              fileName="${basedir}/${AppSetting:AppValue=pathlogFile}/Logger2.log"
              archiveFileName="${basedir}/Archives/Logger2/Logger2_{#####}.log"
              maxArchiveFiles="5"
              archiveAboveSize="10000"
              archiveNumbering="Rolling"
                />
    </targets>

    <rules>
      <logger name="Logger1" minlevel="Debug" writeTo="file1" />
      <logger name="Logger2" minlevel="Debug" writeTo="file2" />
    </rules>
    
  </nlog>
  <appSettings>
    <add key="pathlogFile" value="misLogs"></add>
  </appSettings>


</configuration>