<?xml version="1.0" ?>

<!-- NLog 1.0 Simple Logger file config -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false">
  
  <!-- Target definitions -->
  <targets>
    <target name="MyFile"
            xsi:type="File"
            layout="${longdate} - ${level} - ${message}" 
            fileName="${basedir}\log\MyLog.log"
            createDirs="true"
            archiveFileName="${basedir}\log\MyLog_{#}.log"
            maxArchiveFiles="1"
            archiveAboveSize="1024"
    />

    <!--
            archiveFileName="${basedir}\log\MyLog_{#}.log"
            maxArchiveFiles="2"
            archiveAboveSize="1024"
            archiveNumbering="Sequence"
            -->

  </targets>

  <!-- Rules definitios -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="MyFile" />
  </rules>
  
</nlog>
