<?xml version="1.0" ?>

<!-- NLog 1.0 Simple Logger file config -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      throwExceptions="false">
  
  <!-- Target definitions -->
  <targets>
    <target name="MyFile"
            xsi:type="File"
            layout="${longdate} - ${level} - ${message}" 
            fileName="${basedir}\log\MyLog.log"
            createDirs="true"
            footer="Say No More company"
    />
  </targets>

  <!-- Rules definitios -->
  <rules>
    <logger name="MyLogger" minlevel="Debug" writeTo="MyFile" />
  </rules>
  
</nlog>
