<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.diagnostics>
      <trace autoflush="true" indentsize="4">
        <listeners>
          <add 
            name="CustomTraceListener"
            type="System.Diagnostics.TextWriterTraceListener" 
            initializeData="myListener.log" 
            traceOutputOptions="None"
          />

          <add
            name="CustomTraceListener2"
            type="System.Diagnostics.ConsoleTraceListener"
          />
          <!-- <remove name="Default"/> -->
        </listeners>
      </trace>
    </system.diagnostics>

</configuration>